<td>
  <p><%= model.good_name %></p>
  <p>
    <% if model.aim == 'rent' %>
      <%= model.aim_i18n %>
    <% end %>
  </p>
</td>
<td><%= link_to '订单流程', { controller: 'items', action: 'show', order_id: @order.id, id: model.id } %></td>
<td>
  <span><%= model.single_price.to_money.format.html_safe %></span>
  <i class="fa-solid fa-times text-grey"></i>
  <span><%= model.number.to_human %></span>
</td>
<td><%= model.amount.to_money.format.html_safe %></td>
<td>
  <p><%= model.additional_amount.to_money.format.html_safe %></p>
  <p><%= model.reduced_amount.to_money.format.html_safe %></p>
</td>
<td class="text-danger"><%= model.amount.to_money.format.html_safe %></td>
<td><%= model.note %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ controller: 'order/items', action: 'edit', order_id: model.order_id, id: model.id }, aria: { label: t('.order.items.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
  </div>
</td>
