<td><%= model.metering_i18n %></td>
<td><%= model.name %></td>
<td><%= model.code %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <label class="switch is-rounded">
      <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil %>
    </label>
  <% end %>
</td>
<td><%= model.rate %></td>
