<p>
  <%= link_to model.payment_uuid, { controller: 'payment_orders', payment_id: model.id }, class: 'family-monospace' %>
</p>
<p>
  <strong class="text-danger"><%= model.total_amount.to_money.format.html_safe %></strong>
  <span class="tag"><%= model.type_i18n %></span>
  <span class="tag"><%= model.state_i18n %></span>
</p>
<p class="size-7">
  <time data-controller="time" data-format="human">
  <% if model.notified_at.present? %>
    <%= model.notified_at.to_fs(:iso8601) %>
  <% else %>
    <%= model.created_at.to_fs(:iso8601) %>
  <% end %>
  </time>
</p>
