<dl class="as-show as-boxed">
  <%= render 'show_table' %>
</dl>

<%= render layout: 'index_list' do %>
  <%= render partial: 'trade/admin/payment_orders/index_item', layout: 'trade/admin/payment_orders/index_item_actions', collection: @payment.payment_orders, as: :model %>
<% end %>

<div>
  <span class="text-right text-grey">合计：</span>
  <span><%= @payment.orders_amount.to_money.format.html_safe %></span>
  <span><%= @payment.total_amount.to_money.format.html_safe %></span>
</div>

<%= render layout: 'refund_table' do %>
  <%= render partial: 'refund_tbody', layout: 'refund_tr', collection: @payment.refunds, as: :model %>
<% end if @payment.refunds.present? %>
